body {
    margin: 0;
    padding: 0;
    font-family: 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #484848;
}

/* Favicon */
link[rel="shortcut icon"] {
    background: url('../images/favicon.ico') no-repeat;
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}